services:
  ui:
    build: ./portify-ui
    container_name: portify-ui
    restart: always
    depends_on:
      - api
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
